
footer{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 576px){
        flex-direction: column-reverse;
        gap: 48px;
    }
}
.copyright{
    p{
        line-height: 28px;
    }
}

.links-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    transition: all .2s;
    .link{
        text-decoration: none;
        &:hover{
            color: var(--secondary);
        }
    }
}